.container {
    background-color: rgb(233, 190, 233);
    width: 571px;
    height: 625px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: black;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
}
.bloque1 {
    background-color: rgb(235, 114, 229);
    height: 160px;
    margin-bottom: 20px;
}
.bloque2 {
    background-color: rgb(128, 65, 141);
    height: 160px;
    margin-bottom: 20px;
}
.bloque3 {
    background-color: rgb(71, 11, 105);
    height: 160px;
    margin-bottom: 20px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img {
    width: 140px;
    height: 140px;
    margin: 10px;
}
p {
    color: rgb(65, 63, 63);
    font-family: arial;
    text-align: center;
}